$breakpoint-tablet: 768px;
$breakpoint-longscreen: 1200px;
$breakpoint-mobile: 400px;
$site-font-family: "SF UI Display", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
