@import "Constants";

#query-container {
  background-color: white;
  width: 900px;
  margin: 30px auto;
  font-family: $site-font-family;
  color: #234361;
  padding: 15px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .create-label {
    font-size: 18px;
    color: #234361;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .display-column-section {
    .display-column-container {
      display: flex;
      flex-direction: row;
    }
  }

  .select-style {
    border: 1px solid;
    width: 180px;
    border-radius: 3px;
    overflow: hidden;
    background: #fef3e9;
    display: inline-block;
  }

  .select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
  }

  .container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
  }

  // Hide the default checkbox
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container input:checked ~ .checkmark {
    background-color: #ee9913;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  .secondary-button {
    width: 80px;
    margin-right: 16px;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 38px;
    background-color: white;
    color: #f38020;
    border: solid 1px #f38020;
    font-size: 14px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: #f37000;
      color: white;
      transition-property: background-color;
      transition-duration: 0.4s;
    }
  }

  .query-command-group {
    display: flex;
    flex-direction: row-reverse;
  }

  .execute-button {
    width: 140px;
    margin-right: 20px;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 38px;
    background-color: #f38020;
    font-size: 16px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: #f37000;
      transition-property: background-color;
      transition-duration: 0.4s;
    }
  }

  .export-button {
    &.secondary-button {
      width: 140px;
      font-size: 16px;

      a {
        color: #f38020;

        &:hover {
          text-decoration: none;
          color: white;
        }
      }

      &:hover {
        color: white;
      }
    }
  }

  .query-detail {
    font-size: 18px;
    font-weight: 500;
    padding: 25px;
    text-align: center;
  }

  .input-style {
    border: 1px solid;
    width: 160px;
    border-radius: 3px;
    overflow: hidden;
    background: #fef3e9;
    display: inline-block;
  }
}
